body{
    font-family: 'Courier New', Courier, monospace;  
    font-weight: 550;
    overflow-y: hidden; 
}
#navbarContainer{
    height: 60px; 
    width: 400px;  
    background-color: #fef0f5;
    border: 2px solid #c7387d;  
    margin: -8px; 
    overflow-y: auto;  
    display: flex; 
    position:fixed;  
}

#sidebar{
    height: 860px; 
    width: 395px; 
    background-color: #fef0f5;
    border: 2px solid #c7387d;  
    margin: -8px; 
    overflow-y: auto; 
    overflow-x: hidden;  
}

 #sidebar::-webkit-scrollbar{
    width: 15px;  
}    

#sidebar::-webkit-scrollbar-track{
    background-color: #fef0f5;  
} 

#sidebar::-webkit-scrollbar-thumb{
    background: #ff697a;
    border: 1px solid #c7387d; 
    cursor: pointer; 
}

#sidebar::-webkit-scrollbar-thumb:hover{
     background: #fe8d9a;
     border: 1px solid #ca588f; 
}

#sidebar::-webkit-scrollbar-thumb:active{
     background: #fe8d9a;
     border: 1px solid #ca588f; 
}

.navbarElement{
    background: #ff69a0; 
    height: 60px; 
    width: 100px; 
    border: 1px solid #9c1e1e; 
    cursor: pointer; 
}

.navbarElement:hover{
    background: #fba9c7;
    transition: 0.3s; 
}

.navbarElement.active{ /* Create Class List active*/ 
        background: #fba9c7;
}

#spriteContainer{ 
    height: 180px; 
    width: 118px; 
    background-color: #fffafc; 
    border: 2px solid #ff69a0;  
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: -1; 
}

#Sprite{
    position: fixed; 
    height: 250px; 
    bottom: -20px; 
    right: -10px; 
    cursor: pointer; 
}

#postContainer{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    margin-top: 70px; 
}

.post{
    background-color: #ffffff;
    height: 290px; 
    width: 300px; 
    border: 1px solid #000000; 
    cursor: pointer; 
    padding-top: 20px; 
    padding-left: 25px; 
    }

    .post:hover{
        border: 2px solid #000000; 
    } 

    .post:active{
        transform: scale(0.98); 
        transition: 0.3s;
    }

.image{
    height: 210px;
    border: 1px solid #000000;
    width: 270px;   
}

.postText{
    margin-top: 8px; 
}

#badgeContainer{
    /* display: none; */ 
    margin-top: 60px; 
}


.badge{
    background-color: #fffafc; 
    border: 2px solid #ff697a; 
    height: 110px; 
    width: 90px; 
    margin-top: 10px;  
    margin-left: 10px; 
    cursor: pointer; 
}

.badge:hover{
    background-color: #ffdae9;  
    transition: 0.3s;
}

.badge:active{
    transform: scale(0.98); 
}

.badgeImage{
    height: 70px; 
}

/* Make turnOnLocationMessage and locationDescButton have a shared Class */ 

.sideBarLocationMessages{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 23px; 
    background-color: #fffafc;
    border: 2px solid #ff697a; 
    color: #ff697a;
     padding: 10px; 
}
#turnOnLocationMessage{
    margin-top: 70px;
    margin-left: 10px;  
    margin-right: 10px;   
    text-align: center;  
}

#locationButtonContainer{
    margin-top: 70px;
    margin-bottom: 150px; 
}
.locationDescButton{
    margin-top: 30px;
    margin-left: 10px; 
    width: 330px; 
}

.subtitleLocationDescButton{
      display: inline-block;
     font-family: 'Courier New', Courier, monospace; 
     color: rgba(0, 0, 0, 0.866); 
     font-size: 18px; 
     margin-left: 20px; 
     line-height: 1.3;  
}

.locationDescButton:hover{
    cursor:pointer; 
    background-color: #F8D6E2;
    transition: 0.3s;  
}

.locationDescButton:active{
      transform: scale(0.98);
}

#toggleLocationButton{
    font-size: 27px; 
    font-weight: 900; 
    font-style: italic; 
    color: #ff697a;
    height: 80px; 
    width: 250px; 
    margin-top: 10px; 
    margin-left: 10px; 
    background-color: #fffafc;
    border: 2px solid #ff697a; 
    cursor: pointer; 
}

#toggleLocationButton:hover{
    background-color: #ff8f9c; 
    color: #fffafc;
    transition: 0.3s; 
}

#toggleLocationButton:active{
    transform: scale(0.98); 
    transition: 0.3s;
}

#locationFooter{
    background-color: #ffc1c8; 
    border-top: 2px solid #ff697a;  
    /* margin-top: 602px; */ 
    bottom: 0px; 
    height: 100.2px; 
    position: fixed; 
    width: 395px; 
}

#viewAccountButton{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-style: italic; 
    font-size: 37px;
    margin-top: 20px; 
    margin-left: 30px;  
    width: 330px; 
    height: 80px; 
    cursor: pointer; 
    background-color: #fffafc;
    border: 3px solid #ff697a; 
    color: #ff697a;  
}

#profileContainer{
  margin-top: 60px; 
}

#viewAccountButton:hover{
    background-color: #ff697a;
    border: 3px solid #ff697a; 
    color: #fffafc; 
    transition: 0.3s; 
}

#viewAccountButton:active{
  transform: scale(0.98); 
}
