body{
    font-family: 'Courier New', Courier, monospace;  
    font-weight: 550;
    overflow-y: hidden; 
}
#sidebar{
    height: 860px; 
    width: 400px; 
    background-color: #fef0f5;
    border: 2px solid #c7387d;  
    margin: -8px; 
    overflow-y: auto;  
}

 #sidebar::-webkit-scrollbar{
    width: 15px; 
}    

#sidebar::-webkit-scrollbar-track{
    background-color: #fef0f5;  
} 

#sidebar::-webkit-scrollbar-thumb{
    background: #ff697a;
    border: 1px solid #c7387d; 
    cursor: pointer; 
}

#sidebar::-webkit-scrollbar-thumb:hover{
     background: #fe8d9a;
     border: 1px solid #ca588f; 
}

#sidebar::-webkit-scrollbar-thumb:active{
     background: #fe8d9a;
     border: 1px solid #ca588f; 
}

#navbarContainer{
    display: flex; 
}
.navbarElement{
    background-color: #ff69a0; 
    height: 60px; 
    width: 100px; 
    border: 1px solid #9c1e1e; 
    cursor: pointer; 
}

 /* .navbarElement:hover{ 
    background-color: #fba9c7;
}

.navbarElement:active{ 
    background-color: #fba9c7;
} */  

#spriteContainer{ 
    height: 180px; 
    width: 118px; 
    background-color: #fffafc; 
    border: 2px solid #ff69a0;  
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: -1; 
}

#Sprite{
    position: fixed; 
    height: 250px; 
    bottom: -20px; 
    right: -10px; 
    cursor: pointer; 
}

#postContainer{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.post{
    background-color: #ffffff;
    height: 290px; 
    width: 300px; 
    border: 1px solid #000000; 
    cursor: pointer; 
    padding-top: 20px; 
    padding-left: 25px; 
    }

    .post:hover{
        border: 2px solid #000000; 
    } 

    .post:active{
        transform: scale(0.98); 
        transition: 0.3s;
    }

.image{
    height: 210px;
    border: 1px solid #000000;
    width: 270px;   
}

#postText{
    margin-top: 8px; 
}

#postContainer{
    display: none; 
} 

#profileButton{
    background-color: rgb(251, 169, 199);
}

#badgeContainer{
    display: none; 
}

.badge{
    background-color: #fffafc; 
    border: 2px solid #ff697a; 
    height: 110px; 
    width: 90px; 
    margin-top: 10px; 
    margin-left: 10px; 
    cursor: pointer; 
}

.badge:hover{
    background-color: #ffdae9;  
    transition: 0.3s;
}

.badge:active{
    transform: scale(0.98); 
}

.badgeImage{
    height: 70px; 
}

#createPostButton{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-style: italic; 
    font-size: 37px;
    margin-top: 20px; 
    margin-left: 30px;  
    width: 330px; 
    height: 80px; 
    cursor: pointer; 
    background-color: #fffafc;
    border: 3px solid #ff697a; 
    color: #ff697a;  
}

#createPostButton:hover{
    background-color: #ff697a;
    border: 3px solid #ff697a; 
    color: #fffafc; 
    transition: 0.3s; 
}

#createPostButton:active{
  transform: scale(0.98); 
}

#turnOnLocationMessage{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 23px; 
    margin-top: 10px;
    margin-left: 10px;  
    margin-right: 10px;  
    padding: 10px; 
    background-color: #fffafc;
    border: 2px solid #ff697a; 
    color: #ff697a;
    text-align: center;  
}

#toggleLocationButton{
    font-size: 27px; 
    font-weight: 900; 
    font-style: italic; 
    color: #ff697a;
    height: 80px; 
    width: 250px; 
    margin-top: 10px; 
    margin-left: 10px; 
    background-color: #fffafc;
    border: 2px solid #ff697a; 
    cursor: pointer; 
}

#toggleLocationButton:hover{
    background-color: #ff8f9c; 
    color: #fffafc;
    transition: 0.3s; 
}

#toggleLocationButton:active{
    transform: scale(0.98); 
    transition: 0.3s;
}

#locationFooter{
    background-color: #ffc1c8; 
    border-top: 2px solid #ff697a;  
    margin-top: 602px; 
    height: 100.2px; 
}

#locationsContainer{
    display: none; 
}
