body{
    font-family: 'Courier New', Courier, monospace;  
}
#sidebar{
    height: 860px; 
    width: 400px; 
    background-color: #fef0f5;
    border: 2px solid #c7387d;  
    margin: -8px; 
    /* overflow-y: scroll;  */ 
}

 #sidebar::-webkit-scrollbar{
    height: 5px; 
}   

#sidebar::-webkit-scrollbar-track{
    background-color: #fef0f5;
}
#sidebar::-webkit-scrollbar-thumb{
    background: #ff697a;
    border: 1px solid #c7387d; 
}

#navbarContainer{
    display: flex; 
}
.navbarElement{
    background-color: #ff69a0; 
    height: 60px; 
    width: 100px; 
    border: 1px solid #9c1e1e; 
    cursor: pointer; 
}

.navbarElement:hover{ 
    background-color: #fba9c7;
}

.navbarElement:active{ 
    background-color: #fba9c7;
}